table, td {
    border: 2px solid black;
    border-collapse: collapse;
}

.card{
    width: 150px;
    height: 150px;
}

.test{background-color: wheat;}

.disabled {
    filter:grayscale(100%);
}

.ResetButton{
    padding-left: 250px;
    padding-top: 20px}

.title{padding-left: 180px;}